<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="txt">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      <div id="btn-register">
          <button type="button" (click)="onRegister()">Register</button>
      </div>

      <div *ngIf="errorMessage" class="error">
        {{ errorMessage}}
      </div>
      
    </div>
    <div class="profile"> 
      <div class="input-group">
        <img src="../../assets/username.png" alt="Username Icon">
        <input type="text" formControlName="username" [placeholder]="usernamePlaceHolder" required>
      </div>
      <div class="input-group">
        <img src="../../assets/password_icon.png" alt="Password Icon">
        <input type="password" formControlName="password" [placeholder]="passwordPlaceHolder" required>
      </div>

      <div class="forgot-password-container">
        <input type="checkbox" class="check">
        <span>{{ forgotPasswordText }}</span>
      </div>
      <div id="btn-login">
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </div> 
    </div>
  </form>
</div>
