@import '../../styles.sass' 

// configurações gerais
header
   background-color: $form-color
   width: 100vw
   height: 50px


.lobby
   width: 50vw
   height: 90%
   h1,p
      // margin-top: 40px
      text-align: left 
      margin: 30px 

   button
      width: 120px
      height: 30px
      border: none
      border-radius: 25px
      background-color: #119935
      color: $text-color
      margin-left: 25px


.center
   width: 50%
   h2
      text-align: center
      margin-bottom: 50%

.Info-Log
   h2
      text-align: center
      margin-bottom: 50%

// configurações de imagens
.logo-img
    width: 16%
    height: 18%
    img
      width: 40%
      height: 50px
      margin-top: 3px
      margin-left: 100px
      // display: flex
      // position: relative

.icons .search 
   width: 40px
   height: 40px
   position: absolute
   left: 78%
   top: 0.7%

.icons .carBuy
   width: 40px
   height: 40px
   position: absolute
   left: 84%
   top: 0.7%

.overlay-img
   width: 50vw
   height: 50vh
   position: absolute
   left: 70%
   top: 100px
   img
      width: 40%

.background-image
   width: 50vw
   img
      width: 40%
      position: absolute
      left: 60.7%
      top: 50px

//configurações de botão

.btn
   left: 90%
   top: 1%
   position: absolute 
   button
      width: 90px
      height: 35px
      border-radius: 30px
      border: none
      background-color: $background-btn
      color: #0A591F




      
h1, h2, p
   color: black