<header>
  <div class="container">
    <div class="logo">
      <img src="../../assets/LOGO.png" alt="">
    </div>
    <div class="search">
      <input type="text" name="text" placeholder="Pesquisar Restaurantes">
    </div>
    <div class="menu">
      <ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Carrinho</a></li>
        <li><a href="/login">Fazer Login</a></li>
      </ul>
    </div>
  </div>
</header>

<main>
  <section class="lobby">
    <div class="left">
      <div class="title">
        <h1>Indeciso onde pedir <br>sua refeição?</h1>
        <p>Os melhores restaurantes estão aqui!</p>
      </div>
      <div class="btn">
        <button>Encontre aqui</button>
      </div>
    </div>
    <div class="imagem">
      <img src="../../assets/hamburguer.png" alt="">
    </div>
  </section>
  <section class="center">
    <div class="txt">
      <h1>Categorias</h1>
    </div>
    <div class="categorias-img">
      <img src="../../assets/categorias/catBebidas.png" alt="">
      <img src="../../assets/categorias/catBurguer.png" alt="">
      <img src="../../assets/categorias/catPizza.png" alt="">
      <img src="../../assets/categorias/catSorvete.png" alt="">
    </div>
  </section>
  <section class="parceria">
    <div class="txt-parceiria">
      <h2>Parcerias</h2>
    </div>
    <div class="parcerias-img">
      <img src="../../assets/parcerias/McDonalds.png" alt="logodoMc">
      <img src="../../assets/parcerias/BK.png" alt="logodoBk">
      <img src="../../assets/parcerias/Habibs.png" alt="logodoHabibs">
      <img src="../../assets/parcerias/Borelli.png" alt="logodaBorelli">
      <img src="../../assets/parcerias/Porshe.png" alt="logodaPorshe">
    </div>
  </section>
  <section class="Afiliacao">
    <div class="txt-afilia">
      <h2>Se afilie a nós</h2>
    </div>
    <div class="todo">
      <div class="registre-restaurante">
        <img src="../../assets/parcerias/homem-registre.png" alt="registre seu negócio">
        <p>Registre o seu restaurante</p>
      </div>
      <div class="tornar-entregador">
        <img src="../../assets/parcerias/mulher-entregador.png" alt="seja nosso entregador">
        <p>Torne-se um entregador</p>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="footer-container">
    <div class="RUNDEV">
      <div class="logo-black">
        <img src="../../assets/logoHeader.png" alt="logo em tom preto">
      </div>
      <a href="http://">Fale Conosco</a>
      <a href="http://">Carreiras</a>
      <a href="http://">Entregadores</a>
    </div>
    <div class="DESCUBRA">
      <div class="title-descubra">
        <h3>DESCUBRA</h3>
      </div>
      <a href="http://">Cadastre seu restaurante</a>
      <a href="http://">Run Shop</a>
      <a href="http://">Sobre</a>
    </div>
    <div class="SOCIAL">
      <div class="redes-sociais">
        <h3>SOCIAIS</h3>
      </div>
      <div class="imagens-redes">
        <li><img src="../../assets/Social/facebookSocial.png" alt="Facebook black"></li>
        <li><img src="../../assets/Social/instaSocial.png" alt="Instagram black"></li>
        <li><img src="../../assets/Social/githubSocialDev.png" alt="github black social para desenvolvedores"></li>
      </div>
    </div>
  </div>

  <div class="direitos-autorais-container">
    <div class="text-copyright">
      <p>©Copyright Feito para fins educativos, pelos alunos da Fatec Taquaritinga, <br>  Leandro Lopes, Matheus Prudencio e
        Victoria Tassi.</p>
    </div>
    <div class="direitosAutorais">
      <ul>
        <li><a href="http://">Termos e Condições de uso</a></li>
        <li><a href="http://">Privacidade</a></li>
        <li><a href="http://">Dicas de segurança</a></li>
      </ul>
    </div>
  </div>
</footer>