<header>
  <div class="container">
    <div class="logo">
      <img src="../../assets/LOGO.png" alt="">
    </div>
    <div class="search">
      <input type="text" name="text" placeholder="Pesquisar Restaurantes" >
    </div>
    <div class="menu">
      <ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Carrinho</a></li>
        <li><a href="#">Fazer Login</a></li>
      </ul>
    </div>
  </div>
</header>

<main>
  <section class="lobby">
    <div class="title">
      <h1>Indeciso onde pedir sua refeição?</h1>
      <p>Os melhores restaurantes estão aqui!</p>
    </div>
    <div class="btn">
      <button>Encontre aqui</button>
    </div>
    <div class="imagem">
      <img src="../../assets/hamburguer.png" alt="">
    </div>
  </section>

  <section class="center">
    <div class="txt">
      <h1>Categorias</h1>
    </div>

    <div class="categorias-img">
      <img src="../../assets/categorias/catBebidas.png" alt="">
      <img src="../../assets/categorias/catBurguer.png" alt="">
      <img src="../../assets/categorias/catPizza.png" alt="">
      <img src="../../assets/categorias/catSorvete.png" alt="">
    </div>
  </section>

  <section class="parceria">
    <div class="txt-parceiria">
      <h2>Parcerias</h2>
    </div>
    <div class="parcerias-img">
      <img src="../../assets/parcerias/McDonalds.png" alt="">
      <img src="../../assets/parcerias/BK.png" alt="">
      <img src="../../assets/parcerias/Habibs.png" alt="">
      <img src="../../assets/parcerias/Borelli.png" alt="">
      <img src="../../assets/parcerias/Porshe.png" alt="">
    </div>
  </section>
  <section class="Afiliação">
    <div class="txt-afilia">
      <h3>Se afilie a nós</h3>
    </div>
  </section>
</main>
<footer></footer>