@import '../../styles.sass' 

// configurações gerais
header
   background-color: $form-color
   width: 100vw
   height: 50px


// configurações de imagens
.logo-img
    width: 20%
    height: 20%
    img
      width: 50%
      height: 60px
      padding: 50px //visualizar

.icons .search
   padding: -20px //visualizar







h1, h2, p
   color: black