<header>
    <div class="menu-container">
      <div class="menu-icon" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
        <!-- <nav class="nav-menu" [class.active]="isMenuOpen">
          <a href="#">Item 1</a>
          <a href="#">Item 2</a>
          <a href="#">Item 3</a>
        </nav> -->
    </div>
        <div class="logo-img">
          <img src="../../assets/LOGO.png" alt="boy on a motorbike">
        </div>
          <div class="icons">
            <img src="../../assets/searchIcon.png" alt="" class="search">
            <img src="../../assets/carIcon.png" alt="" class="carBuy">
          </div>
        <div class="btn">
          <button>Login</button>
        </div>
</header>
<main>
  <section class="lobby">
    <h1>MADE WITH LOVE, <br> <strong>DELIVERED WITH PASSION</strong></h1>
    <p>The fastest delivery in your city</p>
    <div class="btn-pedidos">
      <button>Buy with us</button>
    </div>
      <div class="background-image">
        <img src="../../assets/Ellipse 14detalheFundo.jpg" alt="">
      </div>
      <div class="overlay-img">
        <img src="../../assets/celularOverlayImage.png" alt="">
      </div>
  </section>

  <section class="center">
    <h2>HOW OUR APPLICATION WORKS</h2>
  </section>

  <section class="Info-Log">
    <h2>STATES WE SERVE</h2>
  </section>
</main>
<footer></footer>

